backupdata.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -96
      ],
      "id": "c63f543b-de0b-4aed-a4c8-398f3dd7d080",
      "name": "Webhook",
      "webhookId": "a58fb2d2-ba0a-4e50-9e6c-6d948bf5f9fa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-goog-api-key",
              "value": "AIzaSyB_8RqR1GTg2pbATVqjmsmzKwQenhngz1Q"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"حلل هذه البيانات الإحصائية لملف إكسل بالعربية: \" + JSON.stringify($json.body.stats_summary)\n        }\n      ]\n    }\n  ]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -192
      ],
      "id": "ccd7c080-526c-4e7c-a44a-7e6c84ef6c2d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.candidates[0].content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        144,
        -96
      ],
      "id": "d7ff1e0c-f376-4c9e-8b2e-bf5388b82a0f",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0f4ac4abe7e97cccfdf2058b9ee090ec6b2bcdf8511c2411baab6630a94409f"
  }
}